<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
	<!-- sidebar: style can be found in sidebar.less -->
	<section class="sidebar" >
		<!-- Sidebar user panel (optional) -->

		<!-- search form (Optional) -->
		<!-- <form action="#" method="get" class="sidebar-form">
			<div class="input-group">
				<input type="text" name="q" class="form-control"
					placeholder="Search..."> <span class="input-group-btn">
					<button type="submit" name="search" id="search-btn"
						class="btn btn-flat">
						<i class="fa fa-search"></i>
					</button>
				</span>
			</div>
		</form> -->
		<!-- /.search form -->
		<!-- Sidebar Menu -->
		<ul class="sidebar-menu">
			<li class="header">MENÚ</li>


			<li [class.active]="this.router.url === '/home'"><a
				[routerLink]="['home']"> <i
					class="fa fa-home"></i> <span>home</span>
			</a> </li>

			<li [class.active]="this.router.url === '/buscar'"><a
				[routerLink]="['buscar']"> <i
					class="fa fa-search"></i> <span>Buscar canción</span>
			</a> </li>
			<li [class.active]="this.router.url === '/lugares' || this.router.url === '/lugar'"><a
				[routerLink]="['lugares']"> <i
					class="fa fa-globe"></i> <span>Buscar lugar</span>
			</a> </li>
			<!--<hr>
			<li><a
				(click)="loginSpotify()"> <i
					class="fa fa-spotify"></i> <span>Login Spotify</span>
			</a> </li>-->
		</ul>
		<!-- /.sidebar-menu -->
	</section>
	<!-- /.sidebar -->
</aside>
