<simple-notifications [options]="options"></simple-notifications>
<style>
.fav {
  color:red;border-color:red;background-color: white;
}
</style>
<div class="box box-default">
  <div class="box-body animated fadeIn fast" style="position: relative">
<div >

  <div class="row">
    <div class="col-md-9">


    </div>
    <div class="col-md-3">
      <label for="termino"> Buscador de lugares </label>
      <input [(ngModel)]="termino"
      (keyup)="getLugaresNombre()"
      type="text" name="termino"
      class = "form-control"
      placeholder="Buscar por nombre...">

      <button class = "btn btn-primary btn-sm btn-block top-15" name="busquedaAvanzada" (click)="busquedaAvanzada=!busquedaAvanzada">Búsqueda avanzada</button>
      <br>
    </div>

  </div>


  <div [ngClass]="{'row':true,'fadeIn': busquedaAvanzada,'fadeOut': !busquedaAvanzada, 'fast':true}"    *ngIf="busquedaAvanzada">
    <div class="col-md-4">
      <label for="provincia"> Buscador por provincia </label>
      <input [(ngModel)]="provincia"
      (keyup)="getLugaresNombre()"
      type="text" name="termino"
      class = "form-control"
      placeholder="Buscar por nombre...">
    </div>
    <div class="col-md-4">
      <label for="ciudad"> Buscador por ciudad </label>
      <input [(ngModel)]="ciudad"
      (keyup)="getLugaresNombre()"
      type="text" name="termino"
      class = "form-control"
      placeholder="Buscar por nombre...">
    </div>
    <div class="col-md-4">
      <label for="ciudad"> Buscador por tipo de música </label>
      <ng-select  id="tipoMusica"
        [options]="tipoMusicaValores"
        (click)="getLugaresNombre()"
        [(ngModel)]="tipoMusica"
        [allowClear]="true"
        placeholder="Seleccione un tipo de música"
          filterPlaceholder="Puede filtrar por el tipo de música"
        >
      </ng-select>
    </div>
  </div>
<br>
  <div class="row">

    <div class="col-md-3">
      <a *ngIf="_Auth.authenticated()" href="#" [routerLink]="['/crear-lugar']" class="btn btn-info  btn-block " ><i class="fa fa-plus " aria-hidden="true"></i>   Añadir nuevo Lugar...</a>

        </div>
        <div class="col-md-9">


            </div>

  </div>
  <div class="row">

    <div class="col-md-3">
      <label *ngIf="_Auth.authenticated()" class="checkbox-inline"><input type="checkbox"  (click)="getLugaresNombreChk(chkAdmin)" >Administrados por mi</label>

        </div>
        <div class="col-md-9">


            </div>

  </div>
  <br>


    <div class = "row" *ngIf="lugares.length == 0">
    <div class="col-sm-12">
      <div class = "alert alert-danger" role="alert">
          No existen resultados con los terminos de búsqueda
      </div>
    </div>

  </div>
  <div  *ngIf="lugares.length != 0">

    <div class="col-sm-12 main-container" style="z-index:-2">



      <div class="card card-inverse-gray2 animated fadeIn fast bottom-30" *ngFor="let lugar of lugares;let i = index">
        <div class="box box-default box-solid">

                <div class="box-header with-border">
                  <h2 class="box-title">{{lugar.nombre}}</h2>

                  <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                    </button>
                  </div>
                  <!-- /.box-tools -->
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                  <div class="row">
                    <div class="col-md-3 crop">
                    <img class="card-img-top img-fluid img-thumbnail img-min-lugares" [src]="getImage(lugar.img[0])" [alt]="lugar.nombre">
                  </div>
                  <div class="col-md-9 left-20">

                    <div class="card-block">
                      <div >

                        <p class="card-text">{{lugar.descripcion}}</p>
                        <h5 class="card-title">{{lugar.provincia}} - {{lugar.ciudad}} </h5>
                        <hr>
                        <h5 class="card-title">Tipo de música: </h5>
                        <div style="padding-bottom: 10px;">
                        <span *ngFor="let tipoM of lugar.tipoMusica" class="card-title" style = "
                        background-color: #e4e4e4;
                        border: 1px solid #aaa;
                        border-radius: 4px;
                        cursor: default;
                        margin-right: 5px;
                        margin-top: 5px;
                        padding: 0 5px;
                        color: dimgray;

                        ">{{tipoM.label}} </span>
                      </div>
                      <div style="margin-top: 30px;">
                      <div  style="display: inline-block;margin-top:20px;">
                        <div class="button-bottom20 button-top20 " >
                        <div *ngIf="!(lugar.userID == usuarioID && usuarioID)">

                        <a href="#" [routerLink]="['/lugar',lugar._id]" class="btn btn-success " ><i class="fa fa-eye " aria-hidden="true"></i>  Ver Lugar...</a>

                        <button *ngIf="_Auth.authenticated() && !isFav(lugar._id)" (click)="addFav(lugar._id,usuarioID,lugar.nombre)"  class="btn btn-default fav" ><i class="fa fa-heart" aria-hidden="true"></i>  Añadir a favoritos</button>
                        <button *ngIf="_Auth.authenticated() && isFav(lugar._id)" (click)="addFav(lugar._id,usuarioID,lugar.nombre)" class="btn btn-danger" ><i class="fa fa-times" aria-hidden="true"></i>  Eliminar de favoritos</button>

                      </div>


                          <div *ngIf="lugar.userID == usuarioID && usuarioID">
                              <a href="#" [routerLink]="['/lugar',lugar._id]" class="btn btn-warning " ><i class="fa fa-cogs " aria-hidden="true"></i>  Administrar...</a>
                          </div>
                        <!--<a href="#" class="btn btn-success " ><i class="fa fa-cloud-upload" aria-hidden="true"></i>  Enviar Cancion...</a>-->
                      </div>
                    </div>
                    </div>
                  </div>

                </div>

                </div>

              </div>
                </div>
                <!-- /.box-body -->
              </div>



  </div>
  <!-- <div class = "card-columns">
    <div class="card animated fadeIn fast" *ngFor="let lugar of lugares;let i = index">
        <img class="card-img-top img-fluid" [src]="lugar.img" [alt]="lugar.nombre">
        <div class="card-block">
          <h4 class="card-title">{{ lugar.nombre }}</h4>
          <p class="card-text">{{ lugar.descripcion }}</p>
          <p class="card-text"><small class="text-muted">{{lugar.provincia}}</small></p>

          <button
          type ="button" class="btn btn-outline-primary btn-block">Ver más...</button>

        </div>
      </div>
  </div> -->
</div>
</div>
</div>
