

<!--
<div *ngIf="auth.authenticated() && auth.userProfile">
    <h4>You are logged in</h4>
    <div class="row">
      <div class="col-md-6">
        <h3>Profile</h3>
        <img [src]="auth.userProfile.picture" alt="" class="profile-img">
        <p><strong>Name: </strong> {{auth.userProfile.name}}</p>
        <p><strong>Email: </strong> {{auth.userProfile.email}}</p>
        <p><strong>Nickname: </strong> {{auth.userProfile.nickname}}</p>
        <p><strong>Created At: </strong> {{auth.userProfile.created_at}}</p>
        <p><strong>Updated At: </strong> {{auth.userProfile.updated_at}}</p>
      </div>
    </div>
  </div>
  <h4 *ngIf="!auth.authenticated()">You are not logged in, please click 'Log in' button to login</h4> -->
<!--
<h2>Registration Form</h2>
<div class="box-header with-border">
  <h3 class="box-title">
</div>
<div class="box-body"> -->
<div class="box-header with-border">
  <h3 class="box-title"> Perfil de <strong>{{Usuario.getName()}}</strong> </h3>

  <br>
  <br>
  <div class="btn-group" role="group">
      <button type="button" class="btn" [ngClass]="{'btn-default':!visHistorialAcciones , 'btn-primary':visHistorialAcciones}" (click)="verHistorialAcciones()"><i class="fa fa-list"></i> Historial de acciones</button>
      <button type="button" class="btn" [ngClass]="{'btn-default':!visAmigos , 'btn-primary':visAmigos}" (click)="verAmigos()"><i class="fa fa-users" ></i> Amigos</button>
      <button type="button" class="btn" [ngClass]="{'btn-default':!visArtistasFavoritos , 'btn-primary':visArtistasFavoritos}" (click)="verArtistasFavoritos()"><i class="fa fa-music" ></i> Artistas Favoritos</button>
      <button type="button" class="btn" [ngClass]="{'btn-default':!visLugaresFavoritos , 'btn-primary':visLugaresFavoritos}" (click)="verLugaresFavoritos()"><i class="fa fa-home" ></i> Lugares Favoritos</button>
     <button type="button" class="btn" [ngClass]="{'btn-default':!visInformacionPersonal , 'btn-primary':visInformacionPersonal}" (click)="verInformacionPersonal()"><i class="fa fa-user" ></i> Información personal</button>
  </div>
</div>
<br>

<!-- timeline de usuario -->
<div *ngIf="visHistorialAcciones">
<ul class="timeline" >
<ng-container *ngFor="let dates_ of logService.getLogDates(Usuario.GlobalClientID)">
    <!-- timeline time label -->
    <li class="time-label">
        <span class="bg-red">
            {{dates_ | date:'longDate' }}
        </span>
    </li>

    <!-- getLogDates /.timeline-label -->

    <!-- timeline item -->

    <li *ngFor="let logEvent of logService.getLog(Usuario.GlobalClientID,dates_)">
        <!-- timeline icon -->
        <i [className]="logService.iconType(logEvent.tipoMensaje)"></i>
        <div class="timeline-item">
            <span class="time"><i class="fa fa-clock-o"></i> {{logEvent.FechaLog | dateLog}}</span>

            <h3 class="timeline-header" style="background-color: #ecf0f5;border-radius: 2%;">
                {{logEvent.verboMensaje}} - <strong> {{logEvent.objetoMensaje}}</strong></h3>

            <div class="timeline-body">
                {{logEvent.mensaje}}
            </div>

            <!-- <div class="timeline-footer">
                <a class="btn btn-primary btn-xs">...</a>
            </div> -->
        </div>
    </li>
    <!-- END timeline item -->
</ng-container>
</ul>
<!-- crear paginado -->
<div class="btn-group" role="group" *ngIf="logService.getLogMax(Usuario.GlobalClientID)!=1">
    <button type="button" class="btn" [ngClass]="{'disabled': logService.paginaActual == 1}" (click)="logService.firstPage(Usuario.GlobalClientID)" [disabled]="logService.paginaActual == 1" ><i class="fa fa-angle-double-left"></i></button>
    <button type="button" class="btn" [ngClass]="{'disabled': logService.paginaActual == 1}" (click)="logService.previousPage(Usuario.GlobalClientID)" [disabled]="logService.paginaActual == 1" ><i class="fa fa-angle-left"></i></button>
    <ng-container *ngFor="let numberPage of logService.getLogCount(Usuario.GlobalClientID)">
    <button type="button" class="btn" (click)="logService.CambiaPagina(numberPage,Usuario.GlobalClientID)">{{numberPage}}</button>
    </ng-container>
    <button type="button" class="btn" [ngClass]="{'disabled': logService.getLogMax(Usuario.GlobalClientID) == logService.paginaActual}" (click)="logService.nextPage(Usuario.GlobalClientID)" [disabled]="logService.getLogMax(Usuario.GlobalClientID) == logService.paginaActual" ><i class="fa fa-angle-right"></i></button>
    <button type="button" class="btn" [ngClass]="{'disabled': logService.getLogMax(Usuario.GlobalClientID) == logService.paginaActual}" (click)="logService.lastPage(Usuario.GlobalClientID)"  [disabled]="logService.getLogMax(Usuario.GlobalClientID) == logService.paginaActual"><i class="fa fa-angle-double-right"></i></button>
  </div>
</div>
<!-- amigos -->

<!-- artistas favoritos -->

<!-- lugares favoritos -->

<!-- informacion de usuario -->
              <form class="form-horizontal" role="form" [formGroup]="forma" (ngSubmit) = "guardarCambios()" *ngIf="visInformacionPersonal">

                <div class="form-group">
                    <!-- <label for="firstName" class="col-sm-3 control-label">Nombre</label> -->
                    <div class="col-sm-12 img-wrapper_ show-image" >
                        <!-- <input type="text" id="Avatar" placeholder="Nombre" class="form-control"
                        autofocus
                        formControlName = "AvatarUrl"> -->
                        <img  [src]="Usuario.avatarUrl | sinfotoAvatar " class="img-responsive img-thumbnail img-circle" style="width: 200px;
                                                                                                  height: auto;
                                                                                                  margin-left: auto;
                                                                                                  margin-right: auto;
                                                                                                  display: block;">
                        <div class="img-overlay_" >
                             <button style="background-color:transparent; border-color:transparent;outline: none"><i class="fa fa-camera fa-3x " style="color:#7D7D7D" aria-hidden="true"></i></button>
                        </div>

                    </div>
                </div>
<!-- <div class="form-group">
                <div class="img-wrapper_">
                    <img class="img-responsive" src="https://lh6.googleusercontent.com/-KVlCnaKUIpY/AAAAAAAAAAI/AAAAAAAAAak/yQR2HowkFVU/photo.jpg">
                    <div class="img-overlay_">
                      <button class="btn btn-md btn-success">Button</button>
                    </div>
                </div>
</div> -->
<div style="padding-right: 30px;">
                  <div class="form-group" >
                      <label for="firstName" class="col-sm-3 control-label">Nombre</label>
                      <div class="col-sm-9">
                          <input type="text" id="firstName" placeholder="Nombre" class="form-control"
                          autofocus
                          formControlName = "nombre">
                      </div>
                  </div>
                  <div class="form-group">
                      <label for="lastname" class="col-sm-3 control-label">Apellidos</label>
                      <div class="col-sm-9">
                          <input type="text" id="lastname" placeholder="Apellidos" class="form-control"
                          formControlName = "apellidos">
                      </div>
                  </div>
                  <div class="form-group">
                      <label for="nickname" class="col-sm-3 control-label">NickName</label>
                      <div class="col-sm-9">
                          <input type="text" id="nickname" placeholder="Nickname" class="form-control" formControlName = "nickname">
                      </div>
                  </div>
                  <div class="form-group">
                      <label for="email" class="col-sm-3 control-label">Email</label>
                      <div class="col-sm-9">
                          <input type="email" id="email" placeholder="Email" class="form-control" formControlName = "email">
                      </div>
                  </div>
                  <div class="form-group">
                      <label for="ciudad" class="col-sm-3 control-label">Ciudad</label>
                      <div class="col-sm-9">
                          <input type="text" id="ciudad" placeholder="Ciudad" class="form-control" formControlName = "ciudad">
                      </div>
                  </div>
                  <div class="form-group">
                      <label for="provincia" class="col-sm-3 control-label">Provincia</label>
                      <div class="col-sm-9">
                          <input type="text" id="provincia" placeholder="Provincia" class="form-control" formControlName = "provincia">
                      </div>
                  </div>
                  <div class="form-group">
                      <label for="Pais" class="col-sm-3 control-label">Pais</label>
                      <div class="col-sm-9">
                          <input type="text" id="pais" placeholder="Pais" class="form-control" formControlName = "pais">
                      </div>
                  </div>


                  <!-- <div class="form-group">
                      <div class="col-sm-9 col-sm-offset-3">
                          <button type="button" class="btn btn-success btn-block" (click)="SesionSpotify()"><img src="../../assets/img/logo_.png" style="width:25px;"> Iniciar sesión Spotify</button>
                          <span class="form-text text-muted"><small>Es necesario si eres administrador de un lugar</small></span>
                      </div>
                  </div> -->
                   <!-- /.form-group -->
                  <div class="form-group">
                      <div class="col-sm-9 col-sm-offset-3">
                          <button type="submit" class="btn btn-primary btn-block">Guardar cambios</button>
                      </div>
                  </div>
          </div>
              </form> <!-- /form -->
            <!-- </div>
            <div class="box-footer">
              The footer of the box
            </div>
           -->
