<!-- Main Header -->
<style>
.letrero2{

  font-family: proxima-nova-sc,'Helvetica Neue',Helvetica,Arial,sans-serif;
  color: #292929;
  text-shadow: 2px 2px 0 rgba(29, 22, 22, 0.29);


}
</style>
<header class="main-header">
	<!-- Logo -->
	<a [routerLink]="['home']" class="logo"> <!-- mini logo for sidebar mini 50x50 pixels -->
		<!-- <span class="logo-mini"><img src="/assets/img/logo.png" width="auto" height="30" class="d-inline-block align-top" alt=""><strong>J</strong></span>
		<!-- <span class="logo-lg"><img src="/assets/img/logofull.png" width="auto" height="30" class="d-inline-block align-top" alt="">j<strong>UCA</strong>box</span> -->
		<span class="logo-mini letrero2"><span style="color:#f39c12"><i class="fa fa-music"></i></span><strong>  <span style="color:#00678e">J</span></strong></span> <!-- logo for regular state and mobile devices -->
		<span class="logo-lg letrero2"><i class="fa fa-music"></i>  j<b><span style="color:#f39c12">U</span><span style="color:#00678e">CA</span></b>box</span>

	</a>
	<!-- Header Navbar -->
	<nav class="navbar navbar-static-top" role="navigation">
		<!-- Sidebar toggle button-->
		<a href="#" class="sidebar-toggle" data-toggle="offcanvas"
			role="button"> <span class="sr-only">Toggle navigation</span>
		</a>
		<!-- Navbar Right Menu -->
		<div class="navbar-custom-menu">
			<ul class="nav navbar-nav" >
				<!-- Messages: style can be found in dropdown.less-->
				<!-- <li class="dropdown messages-menu messagesBox"></li> -->
				<!-- Notifications Menu -->
				<li class="dropdown notifications-menu notificationsBox"></li>
				<!-- Tasks Menu -->
				<!-- <li class="dropdown tasks-menu tasksBox"></li> -->
				<!-- User Account Menu -->
				<li class="dropdown user user-menu userBox" *ngIf="auth.authenticated()"></li>
				<li *ngIf="!auth.authenticated()" style="cursor: pointer;"><a (click)="auth.login()" [href]=""
					class="toggle-sidebar-right"><i class="fa fa-user"></i></a></li>
				<!-- Control Sidebar Toggle Button -->
				<!-- <li><a href="#" data-toggle="control-sidebar"
					class="toggle-sidebar-right"><i class="fa fa-gears"></i></a></li> -->
			</ul>
		</div>
	</nav>
</header>
