<style>
.parallax {
    /* The image used */
    background-image: url("parallax1.jpg");

    /* Set a specific height */
    height: 340px;
    border-radius: 5px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.cabecera{
  text-shadow: 4px 3px 0 #868686, 9px 8px 0 rgba(167, 167, 167, 0.15);
  font-size: 170px;
  color: #b7b7b7;
  font-family: jucabox-font;
  text-align: center;
  font-weight: 500;
  margin-top: -30px;
  padding-top: 30px;
}

@media (max-width: 767px){
.cabecera {
    font-size: 50px;
}
}

.letrero{
  font-size: 50px;
  font-family: proxima-nova-sc,'Helvetica Neue',Helvetica,Arial,sans-serif;
  color: #fff;
   text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
@media (max-width: 767px){
.letrero {
    font-size: 30px;
}
}

.letrero2{
  font-size: 15px;
  font-family: proxima-nova-sc,'Helvetica Neue',Helvetica,Arial,sans-serif;
  color: #292929;
  text-shadow: 2px 2px 0 rgba(134, 134, 134, 0.23);


}
@media (max-width: 767px){
.letrero2 {
    font-size: 12px;
}
}
</style>

<!-- Container element -->
<!--<button (click)="_jucaboxService.createPlaylist()"> PRUEBA </button>-->
<div class="box box-default">
  <div class="box-body  animated fadeIn fast">
    <div class="row">
      <div class="col-md-12 ">
        <h1 class="cabecera">< j<span style="color:#f39c12">u</span><span style="color:#00678e">ca</span>box ></h1>

      </div>
    </div>
    <div *ngIf="isLogin()">





<h2 style="padding-left:10px;"><i class="fa fa-envelope"></i>  <span>Tablón de mensajes</span></h2>
<hr style="padding-bottom:10px">


<div *ngIf="this.mensajes.length==0">
  <div class="callout callout-info">
      <h4>Oops!!</h4>

      <p>No tiene ningún mensaje en el tablón.</p>

    </div>
</div>
<div *ngFor="let mensaje of this.mensajes" class="box box-success box-solid"  style="    margin-left: 5px;margin-top:35px;">
            <div class="box-header with-border">
              <div style="    display: -webkit-inline-box;" >
                  <img (click)="navigateLugar(mensaje.lugarID._id)" [src]="getImage(mensaje.lugarID.img)" style="margin-right:5px;    margin-left: -20px;
margin-top: -40px;    overflow: hidden; cursor:pointer;
width: 70px;
height: 70px;border: 2px solid #00a65a;" class="img-responsive img-circle">
              <h2 class="box-title" (click)="navigateLugar(mensaje.lugarID._id)" style="cursor:pointer;font-size: 25px;">{{mensaje.lugarID.nombre}} - <small style="    color: white;">{{mensaje.lugarID.ciudad}} ({{mensaje.lugarID.provincia}})</small></h2>
              </div>
              <div class="box-tools pull-right">
                <i class="fa fa-clock-o"></i> <span style="padding-right:20px;"> {{mensaje.fecha | dateLog}} </span>
              </div>
              <!-- /.box-tools -->
            </div>
            <!-- /.box-header -->
            <div class="box-body" [innerHTML]="mensaje.mensaje  | safeHtml">

            </div>
            <!-- /.box-body -->
</div>


</div>
<div class="parallax" *ngIf="!isLogin()">
<hr>

  <div class="row  " style="
    width: 50%;
    margin: 0 auto;
    padding-top:30px;
" >
    <div class="col-md-4 text-center" >
        <i style="color:#fff;text-shadow: 4px 3px 0 rgba(134, 134, 134, 0.23)" class="fa fa-headphones fa-5x"></i>
        <br>
        <span style="color:#fff" class="letrero2">
        Envía tus canciones al DJ
      </span>
    </div>
    <div class="col-md-4 text-center">
      <i style="color:#fff;text-shadow: 4px 3px 0 rgba(134, 134, 134, 0.23)" class="fa fa-star fa-5x"></i>
      <br>
      <span style="color:#fff" class="letrero2">
        Visualiza las canciones de moda en tu local favorito
      </span>
    </div>
    <div class="col-md-4 text-center">
      <i style="color:#fff;text-shadow: 4px 3px 0 rgba(134, 134, 134, 0.23)" class="fa fa-share-alt-square fa-5x"></i>
      <br>
      <span style="color:#fff" class="letrero2">
       Comparte experiencias con tus amigos
     </span>
    </div>
  </div>



</div>


</div>
</div>
