<style>
.parallax {
    /* The image used */
    background-image: url("parallax1.jpg");

    /* Set a specific height */
    height: 340px;
    border-radius: 5px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.cabecera{
  text-shadow: 4px 3px 0 #868686, 9px 8px 0 rgba(167, 167, 167, 0.15);
  font-size: 80px;
  color: #b7b7b7;
  font-family: museo-slab,Georgia,'Times New Roman',Times,serif;
  font-weight: 500;
}

@media (max-width: 767px){
.cabecera {
    font-size: 39px;
}
}

.letrero{
  font-size: 20px;
  font-family: proxima-nova-sc,'Helvetica Neue',Helvetica,Arial,sans-serif;
  color: #292929;
  text-shadow: 0 1px 0 rgba(0,0,0,0.15);


}
@media (max-width: 767px){
.letrero {
    font-size: 10px;
}
}

.letrero2{
  font-size: 15px;
  font-family: proxima-nova-sc,'Helvetica Neue',Helvetica,Arial,sans-serif;
  color: #292929;
  text-shadow: 2px 2px 0 rgba(134, 134, 134, 0.23);


}
@media (max-width: 767px){
.letrero2 {
    font-size: 8px;
}
}
</style>

<!-- Container element -->

<div class="box box-default">
  <div class="box-body  animated fadeIn fast">
    <div class="row">
      <div class="col-md-12 " style="padding-left:50px" >
        <h1 class="cabecera"><i class="fa fa-music" style="padding-right:2%; color:#4a4a4a"></i>j<b><span style="color:#f39c12">U</span><span style="color:#00678e">CA</span></b>box</h1>
        <p class="letrero">
        Siéntete escuchado por todos</p>
      </div>
    </div>
    <hr>
<div class="parallax">

  <div class="row  " style="
    width: 50%;
    margin: 0 auto;
    padding-top:30px;
" >
    <div class="col-md-4 text-center" >
        <i style="color:#fff;text-shadow: 4px 3px 0 rgba(134, 134, 134, 0.23)" class="fa fa-headphones fa-5x"></i>
        <br>
        <span style="color:#fff" class="letrero2">
        Envía tus canciones al DJ
      </span>
    </div>
    <div class="col-md-4 text-center">
      <i style="color:#fff;text-shadow: 4px 3px 0 rgba(134, 134, 134, 0.23)" class="fa fa-star fa-5x"></i>
      <br>
      <span style="color:#fff" class="letrero2">
        Visualiza las canciones de moda en tu local favorito
      </span>
    </div>
    <div class="col-md-4 text-center">
      <i style="color:#fff;text-shadow: 4px 3px 0 rgba(134, 134, 134, 0.23)" class="fa fa-share-alt-square fa-5x"></i>
      <br>
      <span style="color:#fff" class="letrero2">
       Comparte experiencias con tus amigos
     </span>
    </div>
  </div>


</div>
</div>
</div>
