<!-- Menu Toggle Button -->

<a href="#" class="dropdown-toggle"  data-toggle="dropdown">
  <!-- The user image in the navbar-->
  <img [src]="currentUser.avatarUrl" class="user-image" [alt]="currentUser.getName()">
  <!-- hidden-xs hides the username on small devices so only the image appears. -->
  <span class="hidden-xs">{{currentUser.getName()}}</span>
</a>
<ul class="dropdown-menu" style="width: 302px;">
  <!-- The user image in the menu -->
  <li class="user-header">
    <img [src]="currentUser.avatarUrl" class="img-circle" [alt]="currentUser.getName()">
    <p>
      {{currentUser.getName()}}
      <small>Registrado desde <br>{{currentUser.creationDate | date:'medium'}}</small>
    </p>
  </li>
  <!-- Menu Body -->
  <li class="user-body" style="padding-left: 0px;">
    <div class="col-xs-4 text-center">
      <a href="#" class="btn btn-default btn-flat"><i class="fa fa-heart"></i> Lugares</a>
    </div>
    <div class="col-xs-4 text-center">
      <a href="#" class="btn btn-default btn-flat"><i class="fa fa-music"></i> Artistas</a>
    </div>
    <div class="col-xs-4 text-center">
      <a href="#" class="btn btn-default btn-flat"><i class="fa fa-users"></i> Amigos</a>
    </div>
  </li>
  <!-- Menu Footer-->
  <li class="user-footer">
    <div class="pull-left">
      <a [routerLink]="['/usuario']" class="btn btn-default btn-flat">Perfil</a>
    </div>
    <div class="pull-right">
      <a (click)="logout()" class="btn btn-default btn-flat">Logout</a>
    </div>
  </li>
</ul>
