
<div class="box box-solid box-default">
  <div class="box-header">
                <h1 class="box-title">{{lugar.nombre}}</h1>
              </div>
  <div class="box-body" class="main-container" style="padding: 10px 10px 10px 10px;margin: 10px 10px 10px 10px;">
    <div class="btn-group" style="padding-bottom:10px;margin:0 auto;display: flex;
  justify-content: center;
  align-items: center;">

      <button type="button" [ngClass]="{'btn': true,'btn-primary': this.informacionVisible, 'btn-default': !this.informacionVisible}" (click) = "visibleInformacion()"><i class="fa fa-info" aria-hidden="true"></i> Información</button>
      <button type="button" [ngClass]="{'btn': true,'btn-primary': this.playlistVisible, 'btn-default': !this.playlistVisible}" (click) = "visiblePlaylist()"><i class="fa fa-music" aria-hidden="true"></i> Playlist</button>
      <button type="button" [ngClass]="{'btn': true,'btn-primary': this.cancionesTopVisible, 'btn-default': !this.cancionesTopVisible}" (click) = "visibleCancionesTop()"><i class="fa fa-arrow-circle-up" aria-hidden="true"></i> Canciones Top</button>
      <button *ngIf="isConnected()" type="button" [ngClass]="{'btn': true,'btn-primary': this.usuarioVisible, 'btn-default': !this.usuarioVisible}" (click) = "visibleUsuario()"><i class="fa fa-star" aria-hidden="true"></i> Usuarios</button>
      <button *ngIf="isAdmin()" type="button" [ngClass]="{'btn': true,'btn-primary': this.mensajeVisible, 'btn-default': !this.mensajeVisible}" (click) = "visibleMensajes()"><i class="fa fa-envelope" aria-hidden="true"></i> Mensajes</button>
      <button *ngIf="isAdmin()" type="button" [ngClass]="{'btn': true,'btn-primary': this.editar, 'btn-default': !this.editar}" (click) = "visibleEditar()"><i class="fa fa-edit" aria-hidden="true"></i> Editar Información</button>

    </div>
    <!-- INFORMACION -->
<div  *ngIf="this.informacionVisible">
<div class="card" style="margin-bottom:20px;" >


<!--<div>-->
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Carousel indicators
      <ol  class="carousel-indicators">

          <li  data-target="#myCarousel" data-slide-to="0" class="active"></li>

            <li  *ngFor="let img of lugar.img | slice:1 ;let i = index " data-target="#myCarousel" data-slide-to={i} ></li>
      </ol>-->
      <!-- Wrapper for carousel items -->
      <div style =" background-image: url('assets/img/background.jpg');    border-radius: 10px;">
      <div class="carousel-inner" style="width:50%;margin:auto;box-shadow: 0 9px 0px 0px white, 0 -9px 0px 0px white, 12px 0 15px -4px rgba(31, 73, 125, 0.8), -12px 0 15px -4px rgba(31, 73, 125, 0.8);">

        <div *ngFor="let img of lugar.img;let i = index " [ngClass]="{'item':true,'active': i==0}"  >


        <img [src]="getImage(img)" alt="First Slide" >



         </div>

      </div>
    </div>
      <!-- Carousel controls
      <a class="carousel-control left" href="#myCarousel" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
      <a class="carousel-control right" href="#myCarousel" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
      </a>-->
  </div>




  <div class="card-block">
    <h4 class="card-title">{{lugar.provincia}} - <small>{{lugar.ciudad}} <small *ngIf="lugar.direccion!='' && lugar.direccion">({{lugar.direccion}})</small></small></h4>
    <iframe [src]="Cdireccion() | domseguro:'https://www.google.com/maps/embed/v1/place?key=AIzaSyBwnLPDBXY73nzl4ukbL3cGoeSu6nVSQl8&q='" width="100%" height="300" frameborder="1"  allowtransparency="true"></iframe>
    <p class="card-text">{{lugar.descripcion}}</p>
    <hr>
    <h5 class="card-title">Tipo de música: </h5>
    <div style="padding-bottom: 10px;">
    <span *ngFor="let tipoM of lugar.tipoMusica" class="card-title" style = "
    background-color: #e4e4e4;
    border: 1px solid #aaa;
    border-radius: 4px;
    cursor: default;
    margin-right: 5px;
    margin-top: 5px;
    padding: 0 5px;
    color: dimgray;

    ">{{tipoM.label}} </span>

  </div>



  </div>
</div>

</div>

    <!-- Playlist -->


<div *ngIf="this.playlistVisible && isAdmin() && isLoginSpotify()" style="margin-top:15px;">
<div class="col-md-6">
</div>
      <div class="col-md-3" style="margin-bottom:15px;">
      <ng-select  id="lugar"
        [options]="playlistsJBcmb"
        placeholder="Seleccione una playlist"
        [allowClear]="true"
          name="playlist"
          filterPlaceholder="Filtre por nombre"
          notFoundMsg="Sin resultado..."
          [(ngModel)]="playlistSeleccionada"
          (ngModelChange)="getplaylistSeleccionada()"
          (click)="recargarPL()"
          #playlist="ngModel"
        >
      </ng-select>
    </div>
      <div class="col-md-3">
        <div style="text-align:right">
        <button class="btn btn-info" (click)="crearPlaylist() "><i class="fa fa-plus"></i> Añadir nueva playlist</button>
      </div>
      </div>

  </div>

  <div *ngIf="this.playlistVisible  && isAdmin() && isLoginSpotify()" style="margin-top:15px;">
    <div class="col-md-6">
    </div>
  <div class="col-md-6" style="margin-bottom:15px;">
  <ng-select  id="device"
    [options]="devices_"
    placeholder="Seleccione un dispositivo"
    [allowClear]="true"
      name="device"
      filterPlaceholder="Filtre por nombre"
      notFoundMsg="Sin resultado..."
      [(ngModel)]="deviceSeleccionado"
      (click)="recargarDevices()"
      #devices="ngModel"
    >
  </ng-select>
</div>
</div>



    <div class="row" *ngIf="this.playlistVisible ">

        <!-- Lista de canciones enviadas -->
        <div [ngClass]="{'col-md-6': isAdmin(),'col-md-12': !isAdmin()}" >
          <div style="text-align:center">
            <h3><i class="fa fa-clock-o" aria-hidden="true"></i>
          Pendientes de validar</h3>
        </div>

        <div class="callout callout-warning" style="text-align:center;margin-top:25px;" *ngIf="playlistSV.length == 0 ">

                    <h4>No se ha enviado ninguna cancion</h4>

      </div>
    <!--  <div class="row" style="margin-top:5px;margin-bottom:5px;" *ngIf="playlistSV.length > 0 ">
        <div class="col-md-8" style="text-align:right">

        </div>
        <div class="col-md-4">
          Ordenar por:
          <select>
              <option value="fecha">Fecha petición</option>
              <option value="peticion">Número de peticiones</option>
            </select>
        </div>
      </div>-->
          <div class="table-responsive  main-container" *ngIf="playlistSV.length > 0 ">

              <table class=" table" width="100%">
              <thead class="thead-inverse">
              <tr>



                  <th>Preview</th>
                  <th *ngIf=" isAdmin() && isLoginSpotify()">Aceptar</th>
                  <th *ngIf=" isAdmin() && isLoginSpotify()">Rechazar</th>
                  <th>Canción</th>
                  <th style="cursor: pointer" (click)="orderbyCol('total_products')">Peticiones <i *ngIf="orderby=='total_products' && orderOr=='-1'" class="fa fa-sort-asc" aria-hidden="true"></i><i *ngIf="orderby=='total_products' && orderOr=='1'" class="fa fa-sort-desc" aria-hidden="true"></i></th>
                  <th style="cursor: pointer" (click)="orderbyCol('maxDate')">Última Petición <i *ngIf="orderby=='maxDate' && orderOr=='-1'" class="fa fa-sort-asc" aria-hidden="true"></i><i *ngIf="orderby=='maxDate' && orderOr=='1'" class="fa fa-sort-desc" aria-hidden="true"></i></th>
              </tr>
              </thead>
                <tbody>
                  <tr *ngFor="let cancion of playlistSV">

                    <!-- <td style = "padding-top: 10px;padding-bottom: 10px;padding-right: 4px;padding-left: 0px"><img [src]="cancion.album | keys:'images':'0' | sinfoto " class="img-fluid roundrect img-100" alt=""></td> -->

                    <td>
                        <!-- <audio controls>
                          <source [src]="cancion.preview_url">
                        </audio> -->

                        <button class="btn btn-primary"  *ngIf="cancion.cancion.preview_url != null && getActualCancion() != cancion.cancion" (click)="sendCancion(cancion.cancion)"><i class="fa fa-play"><span class = "hide"> Play</span></i></button>
                        <button class="btn btn-primary"  *ngIf="cancion.cancion.preview_url == null && getActualCancion() != cancion.cancion" (click)="sendCancion(cancion.cancion)" disabled="true" title="No disponible para reproduccion de 30 segundos"><i class="fa fa-ban text-error"></i>
                          <span class = "hide"> Play</span></button>
                        <button class="btn btn-danger" *ngIf="getActualCancion() == cancion.cancion" (click)="stopCancion()"><i class="fa fa-stop"><span class = "hide"> Stop</span></i></button>
                    </td>

                    <td  *ngIf=" isAdmin() && isLoginSpotify()">

                      <button class="btn btn-success" (click)="aceptarCancion(cancion.cancion.id,cancion.cancion)"><i class="fa fa-check" ><span class = "hide"> Aceptar</span></i></button>
                    </td>
                    <td *ngIf=" isAdmin() && isLoginSpotify()">
                      <button class="btn btn-danger"    (click)="rechazarCancion(cancion.cancion.id)"><i class="fa fa-times" ><span class = "hide"> Rechazar</span></i></button>
                    </td>

                    <td>{{cancion.cancion.name}} - {{cancion.cancion.album.artists[0] | keys:"name"}}</td>
                    <td>{{cancion.total_products}}</td>
                    <td><span class="time"><i class="fa fa-clock-o"></i> {{cancion.maxDate | dateLog}}</span></td>
                  </tr>

                </tbody>
              </table>
          </div>
        </div>
        <div class="col-md-6" *ngIf="this.playlistVisible && isAdmin() && !isLoginSpotify()" >
          <div style="text-align:center">
            <h3><i class="fa fa-spotify" style="color:#00c100" aria-hidden="true"></i>
              Spotify</h3>
          </div>
          <div class="callout callout-success" style="text-align:center;margin-top:25px;    background-color: #00c100 !important;" *ngIf=" !isLoginSpotify() ">

                      <h4>Es necesario logearse con Spotify</h4>
        </div>

        </div>
        <!-- Lista de canciones aceptadas -->
        <div *ngIf=" isAdmin() && isLoginSpotify()" class="col-md-6">

          <div style="text-align:center">
            <h3><i class="fa fa-spotify" style="color:#00c100" aria-hidden="true"></i>
                En lista de spotify</h3>
        </div>

        <div class="callout callout-warning" style="text-align:center;margin-top:25px;" *ngIf="playlistSpoti.length == 0 ">
                    <h4>No hay ninguna canción en la lista de Spotify</h4>

      </div>

          <div class="table-responsive  main-container" style = " user-select: none;   border-color: #5edc70;" *ngIf="playlistSpoti.length > 0 ">

              <table class=" table" width="100%">
              <thead class="thead-inverse">
              <tr>




                  <th>Canción</th>
                  <th>Eliminar</th>
                  <th>Ordenar</th>

              </tr>
              </thead>
                <tbody>

                  <tr [ngClass]="{'listado': true,'seleccionadaSong': cancion.track.uri==_playerService.getCancionRep().uri}"  *ngFor="let cancion of playlistSpoti;let i = index;let last_ = last " style="cursor:pointer" (dblclick)="selectedRow(cancion,i)">

                    <!-- <td style = "padding-top: 10px;padding-bottom: 10px;padding-right: 4px;padding-left: 0px"><img [src]="cancion.album | keys:'images':'0' | sinfoto " class="img-fluid roundrect img-100" alt=""></td> -->


                        <!-- <audio controls>
                          <source [src]="cancion.preview_url">
                        </audio> -->

                    <!--    <button class="btn btn-primary"  *ngIf="cancion.track.preview_url != null && getActualCancion() != cancion.track" (click)="sendCancion(cancion.track)"><i class="fa fa-play"><span class = "hide"> Play</span></i></button>
                        <button class="btn btn-primary"  *ngIf="cancion.track.preview_url == null && getActualCancion() != cancion.track" (click)="sendCancion(cancion.track)" disabled="true" title="No disponible para reproduccion de 30 segundos">                  <i class="fa fa-ban text-error"></i>
                          <span class = "hide"> Play</span></button>
                        <button class="btn btn-danger" *ngIf="getActualCancion() == cancion.track" (click)="stopCancion()"><i class="fa fa-stop"><span class = "hide"> Stop</span></i></button>
                    </td>

                    <td>
                      <button class="btn btn-success" (click)="aceptarCancion(cancion)"><i class="fa fa-check" ><span class = "hide"> Aceptar</span></i></button>
                    </td>
                    <td>
                      <button class="btn btn-danger" (click)="rechazarCancion(cancion)"><i class="fa fa-times" ><span class = "hide"> Rechazar</span></i></button>
                    </td>-->

                    <td>{{cancion.track.name}} - {{cancion.track.album.artists[0] | keys:"name"}}</td>
                    <td><button class="btn btn-danger" (click)="deleteSong(cancion.track.uri,i)"><i class="fa fa-times" ></i></button></td>
                    <td>

                      <button class="btn btn-primary" *ngIf="i!=0" (click)="reordenarUp(cancion,i)"><i class="fa fa-arrow-up" ></i></button>
                      <button class="btn btn-primary" *ngIf="!last_" (click)="reordenarDown(cancion,i)"><i class="fa fa-arrow-down" ></i></button></td>

                  </tr>

                </tbody>
              </table>
          </div>
        </div>
    </div>

    <!-- CANCIONES TOP -->
<div class="row" *ngIf="this.cancionesTopVisible ">
    <div class="col-md-6">
          Fecha Inicio:
          <my-date-picker name="mydate" [options]="myDatePickerOptions"
                          [(ngModel)]="fini" required></my-date-picker>

    </div>


  <div class="col-md-6">
          Fecha Fin:
          <my-date-picker name="mydate" [options]="myDatePickerOptions"
                          [(ngModel)]="ffin" required></my-date-picker>

    </div>




</div>
  <button *ngIf="this.cancionesTopVisible " class = "btn btn-primary  top-15" name="filtrar" style="float: right;" (click)="visibleCancionesTop()">Filtrar</button>
    <div class="row" *ngIf="this.cancionesTopVisible ">


      <div class="col-md-12" >
        <div style="text-align:center">
          <h3><i class="fa fa-star" aria-hidden="true"></i>
        Canciones Top</h3>
      </div>

      <div class="callout callout-warning" style="text-align:center;margin-top:25px;" *ngIf="playlistSVTOP.length == 0 ">

                  <h4>No hay ninguna canción</h4>

    </div>
  <!--  <div class="row" style="margin-top:5px;margin-bottom:5px;" *ngIf="playlistSV.length > 0 ">
      <div class="col-md-8" style="text-align:right">

      </div>
      <div class="col-md-4">
        Ordenar por:
        <select>
            <option value="fecha">Fecha petición</option>
            <option value="peticion">Número de peticiones</option>
          </select>
      </div>
    </div>-->
        <div class="table-responsive  main-container" *ngIf="playlistSVTOP.length > 0 ">

            <table class=" table" width="100%">
            <thead class="thead-inverse">
            <tr>



                <th>Preview</th>
                <th>Canción</th>
                <th>Número de peticiones</th>
                          </tr>
            </thead>
              <tbody>
                <tr *ngFor="let cancion of playlistSVTOP">

                  <!-- <td style = "padding-top: 10px;padding-bottom: 10px;padding-right: 4px;padding-left: 0px"><img [src]="cancion.album | keys:'images':'0' | sinfoto " class="img-fluid roundrect img-100" alt=""></td> -->

                  <td>
                      <!-- <audio controls>
                        <source [src]="cancion.preview_url">
                      </audio> -->

                      <button class="btn btn-primary"  *ngIf="cancion.cancion.preview_url != null && getActualCancion() != cancion.cancion" (click)="sendCancion(cancion.cancion)"><i class="fa fa-play"><span class = "hide"> Play</span></i></button>
                      <button class="btn btn-primary"  *ngIf="cancion.cancion.preview_url == null && getActualCancion() != cancion.cancion" (click)="sendCancion(cancion.cancion)" disabled="true" title="No disponible para reproduccion de 30 segundos"><i class="fa fa-ban text-error"></i>
                        <span class = "hide"> Play</span></button>
                      <button class="btn btn-danger" *ngIf="getActualCancion() == cancion.cancion" (click)="stopCancion()"><i class="fa fa-stop"><span class = "hide"> Stop</span></i></button>
                  </td>



                  <td>{{cancion.cancion.name}} - {{cancion.cancion.album.artists[0] | keys:"name"}}</td>
                  <td>{{cancion.total_products}}</td>
                </tr>

              </tbody>
            </table>
        </div>
      </div>
    </div>


<!-- Usuarios Favoritos -->

<div  *ngIf="amigos.length == 0 && this.usuarioVisible">
  <div class="callout callout-info animated fadeIn fast">
      <h4>Oops!</h4>

      <p>Actualmente ningún usuario le tiene como favorito</p>
    </div>
</div>
<div  *ngIf="amigos.length != 0 && this.usuarioVisible">

  <div class="box box-warning animated fadeIn fast" *ngFor="let amigo of amigos;let i = index">

        <div class="box-header with-border">
          <h3 class="box-title">{{amigo.userID.nickName}}</h3>
        </div><!-- /.box-header -->
        <div class="box-body">
          <div class="row">
            <div class="col-md-2">
              <img class="profile-user-img img-responsive img-circle" [src]="amigo.userID.avatarUrl" alt="User profile picture">
              <br>

              <div class="text-center"><button type="button" class="btn btn-primary " name="button" (click)="navigateFriend(amigo.userID)"><i class="fa fa-user"></i> Ver perfil </button></div>
            </div>
            <div class="col-md-10">
              <br>
              <div class="input-group">
      <div class="input-group-addon"><i class="fa fa-info"></i> Nombre</div>
      <input type="text" class="form-control" id="exampleInputAmount" placeholder="Sin Nombre" value ={{getNombre(amigo.userID)}} disabled style="text-align: right;">

    </div>
    <br>
              <div class="input-group">
      <div class="input-group-addon"><i class="fa fa-envelope"></i>  Email</div>
      <input type="text" class="form-control" id="exampleInputAmount" placeholder="Sin Email" value ={{amigo.userID.email}} disabled style="text-align: right;">

    </div>
    <br>
              <div class="input-group">

    </div>

            </div>

          </div>

        </div><!-- /.box-body -->
</div>


</div>

<!-- Enviar mensajes -->
<div *ngIf="mensajeVisible">
  <div style="margin-bottom:20px;" [(froalaModel)]="froala" [froalaEditor]>Hello, Froala!</div>
  <div style="text-align:right;margin-bottom:20px;">
    <button class="btn btn-success" (click)="addMensaje()"><i class="fa fa-envelope"></i> Publicar mensaje</button>
  </div>
<!--  <div [innerHTML]="this.mensajeEJemplo.mensaje"></div>-->
  <div>
  <h3>
    Mensajes insertados
  </h3>
  </div>
</div>
<!-- Editar informacion -->
<div *ngIf="editar">
<app-crearlugar></app-crearlugar>
</div>
<div>
<button (click) = "volverLugares()" type="button" class="btn btn-outline-danger"><i class="fa fa-arrow-left" ></i> Volver lugares...</button>
<button *ngIf="isAdmin()" (click) = "eliminarLugar()" type="button" class="btn btn-danger" style="float: right;"><i class="fa fa-times" ></i> Eliminar lugar</button>
</div>

</div>
</div>
