<div class="box box-default">
  <div class="box-body">
<div class="">
  <div class = "row">
    <div class="col-md-8">

    </div>
    <div class ="col-md-4">
        <label for="termino"> Buscador </label>

        <div class="input-group">
          <input [(ngModel)]="termino"
          (keyup)="clickBoton=false"
          type="text" name="termino"
          class = "form-control"
          placeholder="Buscar por artista, canción...">
        <span class="input-group-btn">
            <button   (click)="buscarArtista()" class="btn btn-default fa fa-search"></button>
        </span>
        </div>


        <label class="checkbox-inline"><input type="checkbox"  [(ngModel)]="chkArtista">Artista</label>
        <label class="checkbox-inline"><input type="checkbox"  [(ngModel)]="chkCancion">Cancion</label>
        <label class="checkbox-inline"><input type="checkbox" [(ngModel)]="chkPlaylist">Playlist</label>
        <label class="checkbox-inline"><input type="checkbox"  [(ngModel)]="chkAlbum">Album</label>
    </div>

  </div>
    <hr>
    <div class = "row" *ngIf="clickBoton==true && _jucaboxService.artistas.length == 0 && termino.length > 0 && _jucaboxService.canciones.length == 0">
      <div class="col-sm-12">
        <div class = "alert alert-danger" role="alert">
            No existen resultados con el termino: {{termino}}
        </div>
      </div>
    </div>

<!-- ARTISTAS -->
    <div [ngClass]="{'row':true,'bottom-30': !mostrarArtistas}">
      <div class="col-md-3">
        <h3 *ngIf="_jucaboxService.artistas.length > 0 "> Artistas </h3>
      </div>
      <div class="col-md-7">

      </div>
      <div class="col-md-2">
        <button (click) = "mostrarArtistas = !mostrarArtistas" class = "btn btn-default btn-outline-secondary btn-block" *ngIf="_jucaboxService.artistas.length > 0 "><i [ngClass]="{'fa':true,'fa-minus':mostrarArtistas,'fa-plus': !mostrarArtistas}"></i></button>
      </div>
    </div>
  <div class="row " *ngIf="mostrarArtistas" class="fadeIn fast">
    <div class="col-sm-12 ">
        <div class= "row main-container" *ngIf="_jucaboxService.artistas.length > 0 ">
          <div class="col-sm-3 text-center puntero "
          [routerLink]="['/artista',artista.id]"
           *ngFor="let artista of _jucaboxService.artistas">
                <img [src]="artista.images | sinfoto" class="img-fluid img-thumbnail" alt="">
                <p>{{artista.name}}</p>
                <hr>
          </div>
        </div>
    </div>
  </div>
<!-- CANCIONES -->


<div [ngClass]="{'row':true,'bottom-30': !mostrarCanciones}" >
  <div class="col-md-3">
    <h3 *ngIf="_jucaboxService.canciones.length > 0 "> Canciones </h3>
  </div>
  <div class="col-md-7">

  </div>
  <div class="col-md-2">
    <button (click) = "mostrarCanciones = !mostrarCanciones" class = "btn btn-default btn-outline-secondary btn-block" *ngIf="_jucaboxService.canciones.length > 0 "><i [ngClass]="{'fa':true,'fa-minus':mostrarCanciones,'fa-plus': !mostrarCanciones}"></i></button>
  </div>
</div>



<div class="row " *ngIf="mostrarCanciones" class="fadeIn fast">
<div class="table-responsive  main-container" *ngIf="_jucaboxService.canciones.length > 0 ">

    <table class=" table" width="100%">
    <thead class="thead-inverse">
    <tr>
        <th>#</th>
        <!-- <th>Foto</th> -->


        <th>Preview</th>
        <th>Enviar</th>
        <th>Canción</th>
        <th>Album</th>
        <th>Artista</th>
    </tr>
    </thead>
      <tbody>
        <tr *ngFor="let cancion of _jucaboxService.canciones;let i = index ">
          <td>{{i+1}}</td>
          <!-- <td style = "padding-top: 10px;padding-bottom: 10px;padding-right: 4px;padding-left: 0px"><img [src]="cancion.album | keys:'images':'0' | sinfoto " class="img-fluid roundrect img-100" alt=""></td> -->

          <td>
              <!-- <audio controls>
                <source [src]="cancion.preview_url">
              </audio> -->

              <button class="btn btn-primary"  *ngIf="cancion.preview_url != null && getActualCancion() != cancion" (click)="sendCancion(cancion)"><i class="fa fa-play"><span class = "hide"> Play</span></i></button>
              <button class="btn btn-primary"  *ngIf="cancion.preview_url == null && getActualCancion() != cancion" (click)="sendCancion(cancion)" disabled="true" title="No disponible para reproduccion de 30 segundos">                  <i class="fa fa-ban text-error"></i>
                <span class = "hide"> Play</span></button>
              <button class="btn btn-danger" *ngIf="getActualCancion() == cancion" (click)="stopCancion()"><i class="fa fa-stop"><span class = "hide"> Stop</span></i></button>
          </td>

          <td>
            <button class="btn btn-danger" (click)="enviarCancion(cancion)"><i class="fa fa-send" ><span class = "hide"> Enviar</span></i></button>
          </td>
        
          <td>{{cancion.name}}</td>
          <td>{{cancion.album | keys:"name" }}</td>
          <td>{{cancion.album.artists[0] | keys:"name"}}</td>
        </tr>

      </tbody>
    </table>
</div>
</div>
  <!-- ALBUMES -->

       <div [ngClass]="{'row':true,'bottom-30': !mostrarAlbumes}">
        <div class="col-md-3">
          <h3 *ngIf="_jucaboxService.albumes.length > 0 "> Álbumes </h3>
        </div>
        <div class="col-md-7">

        </div>
        <div class="col-md-2">
          <button (click) = "mostrarAlbumes = !mostrarAlbumes" class = "btn btn-default btn-outline-secondary btn-block" *ngIf="_jucaboxService.albumes.length > 0 "><i [ngClass]="{'fa':true,'fa-minus':mostrarAlbumes,'fa-plus': !mostrarAlbumes}"></i></button>
        </div>
      </div>

    <div class="row " *ngIf="mostrarAlbumes" class="fadeIn fast">
      <div class="col-sm-12 ">
          <div class= "row main-container" *ngIf="_jucaboxService.albumes.length > 0 ">
<!-- hacer la ruta del album con canciones -->
            <div class="col-sm-3 text-center puntero "

            [routerLink]="['/album',album.id]"
             *ngFor="let album of _jucaboxService.albumes">
                  <img [src]="album.images | sinfoto" class="img-fluid img-thumbnail" alt="">
                  <p>{{album.name}}</p>
                  <hr>
            </div>
          </div>
      </div>
    </div>
    <!-- Playlists -->
        <div [ngClass]="{'row':true,'bottom-30': !mostrarPlaylists}">
          <div class="col-md-3">
            <h3 *ngIf="_jucaboxService.playlists.length > 0 "> Playlists </h3>
          </div>
          <div class="col-md-7">

          </div>
          <div class="col-md-2">
            <button (click) = "mostrarPlaylists = !mostrarPlaylists" class = "btn btn-default btn-outline-secondary btn-block" *ngIf="_jucaboxService.playlists.length > 0 "><i [ngClass]="{'fa':true,'fa-minus':mostrarPlaylists,'fa-plus': !mostrarPlaylists}"></i></button>
          </div>
        </div>
      <div class="row " *ngIf="mostrarPlaylists" class="fadeIn fast">
        <div class="col-sm-12 ">
            <div class= "row main-container" *ngIf="_jucaboxService.playlists.length > 0 ">
  <!-- hacer la ruta de la playlist con canciones -->
              <div class="col-sm-3 text-center puntero "

              [routerLink]="['/playlist',playlist.id]"
               *ngFor="let playlist of _jucaboxService.playlists">
              <img [src]="playlist.images | sinfoto:'0' " class="img-fluid img-thumbnail" alt="">
                    <p>{{playlist.name | truncate:'30'}}</p>
                    <hr>
              </div>
            </div>
        </div>
      </div>
</div>
</div>
</div>
